.container{
    /*width: 20%;*/
    /*height: 90%;*/
    background-color: rgb(173, 216, 230);
    padding: 20px;

}

.dialog-item{
    width: 100%;
    padding: 4%;
    background-color: rgba(0, 119, 255, 0.16);
    border: 1px solid black;
    margin: 1% 0;
}

.dialog-item:hover{
    background-color: rgba(99, 99, 239, 0.21);
    cursor: pointer;

}

.current-dialog{
    background-color: rgba(99, 99, 239, 0.44);
}

.modal-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-top:20px ;
}

.modal-container > *{
    margin-top: 40px;
}