.modal-container{
    max-width: 25vw;
    width: 100%;
    min-width: 20vw;
    min-height: 40vh;
    /*height: 40vh;*/
    /*max-height: 60vh;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: 5;
    background-color: antiquewhite;
    padding: 20px;
}

.background{
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.42);
    z-index: 2;
}
/**
todo styles*/
.modal-data{

}