.container {
    background-color: rgb(255, 255, 240);
    flex: 1;
    padding: 20px;

}

.text-area{
    max-width: 100%;
    width: 100%;
    min-width: 50%;
    max-height: 100px;
    height: 100px;
    min-height: 70px;
}

.btn{
    display: block;
    width: 200px;
    height: 50px;
    margin-left: auto;
    border: none;
    border-radius: 10px;
    border: 1px solid #0077ff;
}

.btn:hover{
    cursor: pointer;
    border: 1px solid #6363ef;
}